Repository Alcatecablee/docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,css,md,json}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix"
  ]
}

h
  .replit
Due: none

Saved progress at the end of the loop
  .replit
Due: none

vg
  .replit
  attached_assets/Pasted-site-to-doc-vercel-app-1-Loading-the-stylesheet-https-fonts-googleapis-com-css2-family-Inter-wgh-1762775580702_1762775580706.txt
  attached_assets/Pasted-site-to-doc-vercel-app-1-Loading-the-stylesheet-https-fonts-googleapis-com-css2-family-Inter-wgh-1762775611252_1762775611253.txt
  server/cloudflare-worker.ts
  src/pages/Index.tsx
  vercel.json
Due: prettier --write, eslint --fix

Add authentication check before generating documentation and update CSP
  DEPLOYMENT_FIXES.md
  src/pages/Index.tsx
  vercel.json
Due: prettier --write, eslint --fix

Enhance website security by restricting iframe and referrer policies
  server/cloudflare-worker.ts
  src/pages/GenerationProgress.tsx
  vercel.json
Due: prettier --write, eslint --fix

Adapt application to run as Vercel Serverless Functions
  .vercelignore
  VERCEL_SERVERLESS_DEPLOYMENT.md
  api/index.ts
  package-lock.json
  package.json
  server/app.ts
  server/index.ts
  server/index.ts.backup
  vercel.json
Due: prettier --write, eslint --fix

Fix errors related to content security policy and network requests
  .replit
  attached_assets/Pasted-content-js-3-time-getTime-native-code-The-source-list-for-the-Content-Security-Policy-di-1762785809891_1762785809893.txt
  attached_assets/Pasted-time-getTime-native-code-6The-source-list-for-the-Content-Security-Policy-directive-defa-1762785846952_1762785846953.txt
Due: none

Add image assets for visual documentation and examples
  attached_assets/image_1762787490226.png
Due: none

Improve documentation generation by adding a job queue and status polling
  src/pages/GenerationProgress.tsx
Due: prettier --write, eslint --fix

Add robust polling mechanism for generation progress tracking
  src/pages/GenerationProgress.tsx
Due: prettier --write, eslint --fix

Update server build process and Vercel configuration for production readiness
  api/index.ts
  attached_assets/Pasted--Great-News-You-Already-Have-the-Hybrid-System-Built-Your-codebase-already-has-a-complete-queue-b-1762789935542_1762789935542.txt
  attached_assets/Pasted--Great-News-You-Already-Have-the-Hybrid-System-Built-Your-codebase-already-has-a-complete-queue-b-1762789976769_1762789976769.txt
  attached_assets/image_1762790192961.png
  package.json
  vercel.json
Due: prettier --write, eslint --fix

Update build process to use esbuild for server compilation
  package-lock.json
  package.json
  tsconfig.server.json
Due: prettier --write

Update project documentation to reflect recent changes
  replit.md
Due: prettier --write

Update documentation generation to use a queue-based endpoint
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

love
  .replit
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

Clean up project files and improve documentation structure
  .replit
  AI Knowledge Base Generator – Prompt Templates.md
  DEPLOYMENT_FIXES.md
  DOCUMENTATION_LAYOUT_STATUS.md
  EDGE_DEPLOYMENT_GUIDE.md
  EDGE_DEPLOYMENT_STATUS.md
  ENTERPRISE_FEATURES_ANALYSIS.md
  FLEXIBLE_DOCUMENTATION_STRUCTURE_GUIDE.md
  MULTI_PROVIDER_LLM_ROADMAP.md
  OBSERVABILITY_SETUP.md
  PHASE_2_COMPLETE_SUMMARY.md
  PRODUCTION_HARDENING_ASSESSMENT.md
  PRODUCTION_HARDENING_ROADMAP.md
  PRODUCTION_HARDENING_SUMMARY.md
  ROADMAP.md
  SEARCH_INTEGRATION.md
  SUPABASE_SETUP_COMPLETE.md
  VERCEL_SERVERLESS_DEPLOYMENT.md
  YOUTUBE_API_SETUP.md
  attached_assets/Pasted-Clive-I-ll-tell-you-straight-the-idea-is-solid-the-way-you-re-selling-it-is-not-And-the-Reddit-p-1763107754259_1763107754260.txt
  attached_assets/Pasted-I-posted-this-on-reddit-and-now-Im-thinking-of-pivoting-the-system-I-build-maybe-to-something-else--1763107681012_1763107681015.txt
  replit.md
  test-enhanced-simple.js
  test-enhanced.js
  test-search-api.js
  vite.config.ts.timestamp-1760647466608-cc561e924f4d5.mjs
  vite.config.ts.timestamp-1761753737609-944e71ca3c8f8.mjs
  vite.config.ts.timestamp-1761927375861-269790fff94dc.mjs
  vite.config.ts.timestamp-1761927610001-98bc0c603c8f5.mjs
  vite.config.ts.timestamp-1762183823891-1178e234a5047.mjs
Due: prettier --write

Add detailed analysis of a business strategy pivot
  attached_assets/Pasted-ChatGPT-said-Clive-I-ll-give-it-to-you-straight-this-pivot-is-sharp-ambitious-and-honestly-th-1763108413186_1763108413187.txt
Due: none

Refine product strategy to focus solely on competitive intelligence
  .replit
  ROADMAP.md
  attached_assets/Pasted-ChatGPT-said-Clive-I-ll-give-it-to-you-straight-this-pivot-is-sharp-ambitious-and-honestly-th-1763108700524_1763108700525.txt
  replit.md
Due: prettier --write

Transitioned from Plan to Build mode
  .replit
Due: none

red
  server/agents/ci-prompts.ts
  server/battlecard-generator.ts
  server/battlecard-orchestrator.ts
  server/ci-insight-extractor.ts
  server/routes.ts
  shared/schema.ts
Due: prettier --write, eslint --fix

Transitioned from Plan to Build mode
  .replit
  attached_assets/Pasted-Review-the-completed-competitive-intelligence-battlecard-generator-backend-implementation-Verify--1763114499165_1763114499169.txt
Due: none

Add user authentication to battlecard generation and retrieval
  server/routes.ts
  shared/schema.ts
Due: prettier --write, eslint --fix

Update server configuration for development environment access
  .replit
  vite.config.ts
Due: prettier --write, eslint --fix

Update roadmap to reflect completed backend tasks and pending frontend work
  PHASE1_STATUS.md
  ROADMAP.md
Due: prettier --write

Add a new page for generating battlecards and update navigation
  src/App.tsx
  src/components/Header.tsx
  src/pages/BattlecardGenerator.tsx
Due: prettier --write, eslint --fix

Apply consistent theme colors throughout the battlecard generator
  .replit
  src/pages/BattlecardGenerator.tsx
Due: prettier --write, eslint --fix

Add new attached asset for review purposes
  attached_assets/image_1763123383742.png
Due: none

Update application to show development tool connection and deprecation warnings
  attached_assets/Pasted-client-495-vite-connecting-client-618-vite-connected-chunk-FJ2A54M7-js-v-465b53f5-21551-Do-1763123464164_1763123464165.txt
Due: none
