Repository Alcatecablee/docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx,css,md,json}": [
    "prettier --write"
  ],
  "**/*.{ts,tsx}": [
    "eslint --fix"
  ]
}

Saved your changes before starting work
  package-lock.json
  package.json
Due: prettier --write

Saved your changes before starting work
  server/otel.ts
Due: prettier --write, eslint --fix

Update OpenTelemetry dependencies and error handling
  .replit
  package-lock.json
  package.json
  server/otel.ts
Due: prettier --write, eslint --fix

Improve the clarity and helpfulness of error messages for users
  .replit
Due: none

Assess production hardening roadmap implementation against actual code
  .replit
  attached_assets/Pasted-ask-Review-the-PRODUCTION-HARDENING-ROADMAP-md-file-against-the-actual-implementation-in-the-codeba-1761741067575_1761741067578.txt
Due: none

Saved your changes before starting work
  .replit
  attached_assets/Pasted-ask-Review-the-PRODUCTION-HARDENING-ROADMAP-md-file-against-the-actual-implementation-in-the-codeba-1761741716729_1761741716729.txt
Due: none

Improve production hardening assessment and fix type safety issues
  .replit
  FIXES_APPLIED.md
  PRODUCTION_HARDENING_ASSESSMENT.md
  PRODUCTION_HARDENING_SUMMARY.md
  server/otel.ts
Due: prettier --write, eslint --fix

Start migrating import from Replit Agent to Replit environment
  .replit
Due: none

Add robust safety checks and shadow validation for improved system reliability
  .replit
  package-lock.json
  package.json
  server/middleware/safety.ts
  server/utils/shadow-validation.ts
  tests/adversarial/safety-filters.test.ts
  tests/chaos/README.md
  tests/chaos/provider-failures.test.ts
  tests/load/README.md
  tests/load/baseline-crawl.js
  tests/load/smoke-test.js
  tests/load/stress-test.js
  tests/unit/shadow-validation.spec.ts
Due: prettier --write, eslint --fix

Improve detection of sensitive information and malicious inputs
  server/middleware/safety.ts
Due: prettier --write, eslint --fix

Track progress of migration from Replit Agent to Replit environment
  .replit
Due: none

Make substantial progress on hardening production systems
  PRODUCTION_HARDENING_ASSESSMENT.md
Due: prettier --write

Track import progress and update state files
  .replit
Due: none

Add advanced testing, edge deployment, and observability features
  .github/workflows/ci.yml
  .github/workflows/load-test.yml
  .replit
  COMPLIANCE.md
  EDGE_DEPLOYMENT_GUIDE.md
  EDGE_DEPLOYMENT_STATUS.md
  OBSERVABILITY_SETUP.md
  package-lock.json
  package.json
  server/cloudflare-worker.ts
  server/data-retention.ts
  tsconfig.server.json
  vite.config.ts.timestamp-1761753737609-944e71ca3c8f8.mjs
  wrangler.toml
Due: prettier --write, eslint --fix

Update production hardening assessment report with recent progress
  PRODUCTION_HARDENING_ASSESSMENT.md
Due: prettier --write

Track progress of migrating code from Replit Agent
  .replit
Due: none

Implement automated data deletion and GDPR compliance features
  .replit
  migrations/add_data_retention_columns.sql
  package-lock.json
  package.json
  server/index.ts
  shared/schema.ts
Due: prettier --write, eslint --fix

Add AnimatedProjectFlow component with animated SVG
  src/components/AnimatedProjectFlow.tsx
Due: prettier --write, eslint --fix

Import AnimatedProjectFlow and add Project Workflow section to homepage
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

Add AnimatedProjectFlow import
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

Remove Enterprise Features section from homepage
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

Remove Enterprise-Grade Reliability & Publishing section
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

Prettier format pending files
  src/components/AnimatedProjectFlow.tsx
  src/pages/Index.tsx
Due: prettier --write, eslint --fix

Saved your changes before starting work
  .replit
Due: none

Improve how the website guides new users through the sign-up process
  .replit
Due: none

Enhance document editor with drag-and-drop and version comparison features
  attached_assets/Pasted-lets-complete-the-Doc-Editor-Roadmap-but-doc-tust-roadmap-as-it-might-be-outdated-but-codebase-never-1761909428826_1761909428829.txt
  package-lock.json
  package.json
  src/components/EditableDocViewer.tsx
  src/components/ErrorBoundary.tsx
  src/components/doc-editor/VersionComparisonDialog.tsx
  src/pages/GenerationProgress.tsx
Due: prettier --write, eslint --fix

Track progress of Replit agent import migration to the new environment
  .replit
Due: none

Track progress of migrating import from Replit Agent
  .replit
Due: none

yer
  .replit
  server/middleware/auth.ts
  server/routes.ts
  server/routes/custom-orders.ts
  server/types/express.d.ts
Due: prettier --write, eslint --fix

Address critical security vulnerabilities and improve application stability
  .replit
  attached_assets/Pasted--Comprehensive-Enterprise-Audit-Complete-I-ve-conducted-a-thorough-review-of-your-ViberDoc-applicat-1761923702463_1761923702465.txt
Due: none

Introduce AI agents to enhance document generation capabilities
  attached_assets/Pasted-YES-Agents-the-unlock-You-just-stumbled-onto-the-single-biggest-leap-Viberdoc-can-make-from-sm-1761925451482_1761925451483.txt
Due: none

Update HTML export to use an enterprise template for documentation
  server/routes.ts
Due: prettier --write, eslint --fix

Introduce a parallel agent architecture for improved documentation processing
  AGENT_ARCHITECTURE_ROADMAP.md
  server/agents/base-agent.ts
  server/agents/code-agent.ts
  server/agents/index.ts
  server/agents/orchestrator.ts
  server/agents/research-agent.ts
  server/agents/structure-agent.ts
  server/agents/types.ts
Due: prettier --write, eslint --fix

Track progress on migrating agent import functionality
  .replit
Due: none

Refactor agents to use real APIs and improve LLM interaction
  .replit
  server/agents/base-agent.ts
  server/agents/code-agent.ts
  server/agents/orchestrator.ts
  server/agents/research-agent.ts
  server/agents/structure-agent.ts
  server/agents/types.ts
  vite.config.ts.timestamp-1761927375861-269790fff94dc.mjs
Due: prettier --write, eslint --fix
