Repository Alcatecablee/docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

Bypass sign-in requirement for battlecard generation during testing
  src/pages/BattlecardGenerator.tsx
Due: prettier --write, eslint --fix

Update battlecard generator to handle connection loss and generation failures
  .replit
  src/pages/BattlecardGenerator.tsx
Due: prettier --write, eslint --fix

Saved progress at the end of the loop
  .replit
Due: none

Add a new page to track battlecard generation progress and status
  src/pages/BattlecardProgress.tsx
Due: prettier --write, eslint --fix

Add page to display progress for battlecard generation
  src/App.tsx
Due: prettier --write, eslint --fix

Update battlecard generation to navigate to progress page
  src/pages/BattlecardGenerator.tsx
Due: prettier --write, eslint --fix

Add real-time updates for battlecard progress
  server/routes.ts
Due: prettier --write, eslint --fix

Improve progress tracking and reporting for battlecard generation
  server/battlecard-orchestrator.ts
Due: prettier --write, eslint --fix

Add database migration scripts and table creation logic
  .replit
  apply-migrations.ts
  check-db-config.ts
  check-tables.ts
  create-missing-tables.ts
  fix-documentations-table.ts
  migrations/0002_far_raza.sql
  migrations/meta/0002_snapshot.json
  migrations/meta/_journal.json
  test-neon-connection.ts
Due: prettier --write, eslint --fix

red
  .env
  .replit
  server/middleware/auth.ts
Due: prettier --write, eslint --fix

Saved progress at the end of the loop
  .env
  .replit
Due: none

Configure the build output directory for client-side assets
  .vercelignore
  attached_assets/logs_result (3)_1763138465095.csv
  vite.config.ts
Due: prettier --write, eslint --fix

Configure build process and specify output directory for deployment
  attached_assets/image_1763141252101.png
  vercel.json
Due: prettier --write

Add system to fetch documentation based on subdomain
  attached_assets/Pasted-2025-11-14-17-46-44-875-info-level-50-time-1763142404874-pid-4-hostname-169-254-74-73--1763144563064_1763144563065.txt
Due: none

h
  attached_assets/Pasted-2025-11-15-05-15-14-863-error-OpenTelemetry-SDK-started-successfully-Error-unable-to-determine-tr-1763183870576_1763183870577.txt
  server/logger.ts
Due: prettier --write, eslint --fix

Improve database connection handling for serverless environments
  attached_assets/Pasted-2025-11-15-05-20-50-370-info-OpenTelemetry-SDK-started-successfully-2025-11-15-05-20-50-370-info-1763184184511_1763184184511.txt
  attached_assets/Pasted-2025-11-15-05-20-53-922-error-Battlecard-generation-error-DrizzleQueryError-Failed-query-select-1763184124518_1763184124519.txt
  attached_assets/Pasted-2025-11-15-05-20-53-922-error-Battlecard-generation-error-DrizzleQueryError-Failed-query-select-1763184137851_1763184137851.txt
  server/db.ts
Due: prettier --write, eslint --fix

Adjust database connection for serverless environments
  attached_assets/logs_result (4)_1763184818999.csv
  server/db.ts
Due: prettier --write, eslint --fix

Improve error logging for battlecard generation issues
  attached_assets/Pasted-2025-11-15-05-40-00-615-error-Battlecard-generation-error-DrizzleQueryError-Failed-query-select-1763185232926_1763185232927.txt
Due: none

Improve system initialization and log error details
  attached_assets/Pasted-2025-11-15-05-56-50-327-info-level-30-time-1763186210327-pid-4-hostname-169-254-22-37--1763186251810_1763186251811.txt
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx,css,md,json}
  eslint --fix: any of: **/*.{ts,tsx}
